<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.theme.setTheme"
            android:exported="false"
            android:label="@string/title_activity_set_theme"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.theme.MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme" />
        <activity
            android:name="exportkit.figma.activity_main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>